chess~=1.11.2
pydantic~=2.10.6
dotenv~=0.9.9
python-dotenv~=1.0.1
motor~=3.7.0
langchain-core~=0.3.49
langchain-openai~=0.3.9
dependency-injector~=4.46.0
asyncio~=3.4.3
fastapi~=0.115.11
uvicorn~=0.34.2
starlette~=0.46.2
pymongo~=4.11.3